cscope.*
*.out
tags
taghl_config.txt
*.taghl
*.r51
*.pbi
*.i
*.map
*.pbd
*.browse
*.cout
*.dep
*.wsdt
*.tmp
*.sfr
*.dni
*.dbgdt
*.ewd
*.hex
*.sim
*.bin
*.pdf
*.uvopt
*.bak
*._ip
*.o
*.d
*.crf
*.axf
*.htm
*.lst
*.plg
*.lnp
settings
Projects/MagicPaperPiano/Common.BAT
Projects/MagicPaperPiano/Debug.BAT
Projects/MagicPaperPiano/Release.BAT
Projects/MagicPaperPiano/build_res_aud.txt
MUA/projects/settings/SimpleBLEPeripheral.cspy.bat
Exe
List
Obj
Backup
backup
TMP
tmp
*.bz2
*.gz
*.tar
*.zip
*.rar
*.wav
*.mp3
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3
.tags*
*.log
*.csv
docbook
latex
html
rtf
build_info
Resource
~$*
